*{
    margin: 0px;
    padding: 0px;
    
}
header{
    background-color: rgb(75, 128, 80);
    text-align: center;
    border: 1px solid black;
    font-size: 30px;
    color: white;
}
nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(91, 240, 113);
    border: 1px solid black;
}
a:hover{
    background-color: rgb(13, 15, 13);
    color: rgb(197, 244, 9);
    cursor: pointer;
}
main{
    background-color: rgb(169, 210, 193);
}
.about {
    justify-content:space-around;
    display: flex;
    width: 800px;
    padding-top: 20px;
    padding-left: 220px;
    margin-bottom: 20px;
    gap: 20px;
    
    
}
.left{
    text-align: center;
    padding: 0px 5px;
    width: 300px;
    height: 150px;
    border: 2px solid;
    border-radius: 8px;
    background-color: rgb(172, 164, 199);
}
.right{
    list-style-position: inside;
    padding: 0px 5px;
    width: 300px;
    height: 150px;
    border: 2px solid;
    border-radius: 8px;
    background-color: rgb(172, 164, 199);
    
}

.image {
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px 15%;
    margin: 0 80px;
    max-width: 1000px;
}

.images{
    padding: 5px;
    border-radius: 15px;
    margin: 15px;  
    border: 2px solid black;
}
hr{
    color: black;
    border: 1px solid;
}
footer{
    text-align: center;
    background-color: rgb(75, 128, 80);
    color: white;
    padding: 5px;
}