body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background: #f8f9fa;
    }
    .container {
      max-width: 430px;
      margin: auto;
      background: white;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      text-align: center;
    }
    input, button {
      width: 380px;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #bdb4b4;
      border-radius: 5px;
    }
    button {
      font-weight: bold;
      cursor: pointer;
    }
    #submitBtn #clearBtn {
      background-color: white;
      color: black;
      border: 2px solid black;
    }
    